In [1]:
import pandas as pd

In [6]:
csv_path="city_data.csv"
weather_df=pd.read_csv(csv_path)
weather_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Okhotsk,59.38,143.30,31.19,96,99,14.05,RU,1603306297
1,1,Edmundston,47.37,-68.33,39.99,93,90,13.87,CA,1603306529
2,2,Campo de Criptana,39.40,-3.12,55.99,76,100,4.00,ES,1603306530
3,3,Ushuaia,-54.80,-68.30,55.40,43,75,16.11,AR,1603306261
4,4,Talnakh,69.49,88.40,12.20,85,100,13.42,RU,1603306530

In [8]:
weather_df.to_html("table.htm",index=False)

In [9]:
html_file=weather_df.to_html()